<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <br>
        <div id="calculator-wrapper">
          <div class="row">
            <div class="col-md-12">
              <div class="screen">
                <p id="current-stack">0</p>
              </div>
            </div>
          </div>

          <div class="buttons-wrapper">
            <div class="row">
              <div class="col-md-12">
                <div class="button btn-number">7</div>
                <div class="button btn-number">8</div>
                <div class="button btn-number">9</div>
                <div class="button btn-operator">×</div>
              </div>
            </div>
          </div>
          <div class="buttons-wrapper">
            <div class="row">
              <div class="col-md-12">
                <div class="button btn-number">4</div>
                <div class="button btn-number">5</div>
                <div class="button btn-number">6</div>
                <div class="button btn-operator">-</div>
              </div>
            </div>
          </div>
          <div class="buttons-wrapper">
            <div class="row">
              <div class="col-md-12">
                <div class="button btn-number">1</div>
                <div class="button btn-number">2</div>
                <div class="button btn-number">3</div>
                <div class="button btn-operator">+</div>
              </div>
            </div>
          </div>
          <div class="buttons-wrapper">
            <div class="row">
              <div class="col-md-12">
                <div class="button btn-zero btn-number">0</div>
                <div class="button" id="btn-decimal">.</div>
                <div class="button" id="btn-calculate">=</div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- enable keys -->
